@use '../mixins/responsive.scss' as *;
.article-two-columns{
    display: flex;
    flex-direction: column;
    gap:40px;
        @include responsive(desktop) {
            width: 1440px;
            display: grid;
            grid-template-columns: 720px 720px;
            grid-template-rows: 100%;
            position: relative;
            
        }
    
}