@use '../mixins/responsive.scss' as *;
.column{
    @include responsive(desktop) {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
.column-tool{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:30px;
}
.three-columns-tools{
    @include responsive (desktop){
        width: 1110px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}