@use '../mixins/responsive.scss' as *;
.logo {
  margin: 0 auto;
}
.background-image-header {
  position: absolute;
  top: 1px;
  left: -1px;
  z-index: -1;
}
.photo {
  width: 312px;
  align-items: center;
  margin: 50px auto;
}
.computer{
  @include responsive(desktop) {
    width: 752px;
    align-items: center;
    position: relative;
    right:100px;
    overflow:hidden;
  }
}