@use '../mixins/responsive.scss' as *;
.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__header{
        padding: 0 30px;
        font-size:10px;
        @include responsive(desktop) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}