@use '../mixins/responsive.scss' as *;
.paragraph {
  text-align: center;
  font-size: 20px;
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: normal;
  padding: 0 30px;
  color: var(--color-paragraph);
  @include responsive(desktop) {
    width: 730px;
  }
}
.paragraph--section{
  padding: 0 10px;
}
.paragraph-little{
  font-size: 15px;
  padding: 0 20px;
}
.information-tool{
  text-align: center;
  font-size: 15px;
    font-family: 'Bai Jamjuree', sans-serif;
    color: var(--color-paragraph);
  @include responsive(desktop){
    width: 350px;

  }
}
