@use '../mixins/responsive.scss' as *;
.paragraph {
  text-align: center;
  font-size: 20px;
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: normal;
  color: var(--color-paragraph);
  @include responsive(desktop) {
    width: 730px;
  }
}
