:root {
  /* Variables CSS */
  --color-title: rgba(76, 84, 92, 1);
  --color-paragraph: rgba(158, 171, 178, 1);
  --color-button-ios: rgba(38, 187, 164, 1);
  --color-button-mac: rgba(97, 116, 255, 1);
}

/* Variables SASS */
